<!doctype html>
<html lang="en">
  <head>
    <title>Mirror for camp - เว็บเขียนกระจกเงาออนไลน์</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Font from Google -->
    <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,400,600,900&display=swap" rel="stylesheet">
  
  </head>

  <style>
  /* CSS Start from Here */

.font {
  font-family: 'Kanit';
}

.bold {
  font-weight: 600;
  font-size: 30px;
}

.button{
  background-color: #25B344;
  color: white;
  margin-top: 10px;
  font-family: 'Kanit', sans-serif;
}

  </style>


  <body>
    <!-- HTML start from here -->
   
    <div class="card font"> 
      <div class="card-header">
        <div>
            <a href="dashboard.html"><p>x</p></a> </div>
        <div class="bold" align="center">
          เพิ่มสมุดกระจกเงา
        </div>
        </div>

    <div class="card-body font">
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">ชื่อ</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
          <small id="emailHelp" class="form-text text-muted">เราแนะนำให้ใช้ชื่อเล่น ที่ไม่ซ้ำกับคนอื่นในค่าย</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">รหัสเปิดสมุด</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
          <small id="emailHelp" class="form-text text-muted">รหัสนี้มีไว้สำหรับเปิดสมุดกระจกส่วนตัวของคุณ เพื่อป้องกันไม่ให้เพื่อนคนอื่นเข้ามาดูข้อความส่วนตัวในสมุดกระจกของคุณ</small>
        </div>
        <div class="form-check">
        </div>
        <button type="submit" class="btn button">เพิ่มสมุดกระจก</button>
      </form>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
