<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Mirror for Camp - เว็บเขียนกระจกเงาออนไลน์</title>

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
      <!-- Font from Google -->
      <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,400,600,900&display=swap" rel="stylesheet">
  
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  
  <!-- Custom styles for this template -->
  <link href="css/landing-page.min.css" rel="stylesheet">

    <!-- Icon from Iconify -->
  <script src="https://code.iconify.design/1/1.0.2/iconify.min.js"></script>
</head>


<style>

</style>

<body>

        <h2>เปิดใช้งานกระจกเงาออนไลน์ สำหรับค่ายของคุณ</h2>
        
        <form action="signup.php" method="POST">
                <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
        ชื่อค่าย <input type="text" class="form-control form-control-lg font" name="camp_name"><br>
        <input type="hidden" name="form_submitted" value="1" />
        <input type="submit" value="Submit">
        </form>
        

</body>
</html>