<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Mirror for Camp - เว็บเขียนกระจกเงาออนไลน์</title>

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
      <!-- Font from Google -->
      <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,400,600,900&display=swap" rel="stylesheet">
  
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>


<style>

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("resources/images/CoverWebsite.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.topic {
color: #25B344;
font-weight: bold;
margin: 10px;
}

.font {
  font-family: 'Kanit', sans-serif;
}

</style>

<body>

 <!-- Navigation -->
 <nav class="navbar navbar-light static-top" style="background-color: #25B344">
  <div class="container">
    <a class="navbar-brand" href="index.html">
        <img src="../resources/images/Mirror for Camp logo_white.png" width="30" height="50" alt="logo" class="logo rounded mx-auto"></a>
  </div>
</nav>

        <div class="font">
        <h1>เปิดใช้งานกระจกเงาออนไลน์ สำหรับค่ายของคุณ</h1><br>
        
        <form action="signup.php" method="POST">
                <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
        <h4 class="topic">ชื่อค่าย</h4> 
        <input type="text" class="form-control form-control-lg font" name="camp_name" placeholder="เช่น ค่ายอนุชนคริสตจักรน้ำหนึ่งใจเดียวกัน">
        (กรุณาตรวจสอบให้แน่ใจว่าสะกดถูกต้อง เพราะแก้ไขภายหลังไม่ได้) <br><br>
        <input type="submit" value="Submit">
        </form>
        
      </div>
</body>
</html>